# Analyzing local nonprofits with ProPublica's Nonprofit Explorer API

*Note: This is based on version two of ProPublica's API. It will depreciate at the end of 2017. Your mileage may vary. Refer to official docs for specifics: https://projects.propublica.org/nonprofits/api*

**The goal:**
* Pull down the nonprofit listings of a state, via iterating through every page of the query results. 
* Write the listings to a local file for posterity. 
* Filter down the state listings to local ones. 
* Save the filtered down results to a local file for posterity. 
* Pull the EIN codes for local nonprofits. 
* Query the API for detailed IRS nonprofit filings using the list of EIN codes
* Save these results to a local file.
* Analyze the data

In [1]:
import os
import time
import requests
#ProPublica's API only responds to GET requests and we're using Python 3. Use requests lib
import json
#The data is pulled down as JSON. So, we need to properly convert the GET request
import pandas as pd
#We'll need to filter and analyze the data, so use pandas so we can stay in Python
import numpy as np
from pprint import pprint as pp
# This makes printing the JSON clean, save your sanity
%matplotlib inline

In [2]:
locations = ['The Villages', 'Lady Lake', 'Wildwood', 'Busnell', 'Center Hill','Webseter','Coleman', 'Leesburg', 'Fruitland Park', 'Mt. Dora', 'Belleville', 'Summerfield'] 
#To find your specific local towns, Google towns in [YOUR COUNTY/GEOGRAPHIC AREA OF COVERAGE] and create a list from them. We'll use this to filter the results below


# To pull data from ProPublica's API, takes about 10-20 minutes. Commented out so it doesn't constantly rerun.
# You should save the results to a json file for easy reference.
#Uncomment this code to pull data down. 
# baseurl = "https://projects.propublica.org/nonprofits/api/v2/search.json?state%5Bid%5D=FL&page="
# r = requests.get(baseurl)
# rawdata = r.json()
# nonprof = rawdata['organizations']
# df = pd.DataFrame(nonprof)
# for page in range(1, rawdata['num_pages']):
#     print("Fetching " + str(page))
#     r = requests.get(baseurl + str(page))
#     rawdata = r.json()
#     nonprof = rawdata['organizations']
#     dfnew = pd.DataFrame(nonprof)
#     df = df.append(dfnew)
#     time.sleep(2)
# df.shape

#time.sleep(int) is needed because ProPublica's API will block you if you submit too many GET requests at once.
#request Florida nonprofit data from ProPublica's Nonprofit explorer API
#Returns 43,941 Florida nonprofits/charities
#Narrow down to Lady Lake, Wildwood, The Villages, etc.

In [3]:
# Show you what's in the json you just pulled
# print(r.content)

In [10]:
# Show the dataframe of what you just scrapped so you can reference it and make sure your saved copy saves correctly. 
# df

,city,ein,has_subseccd,have_extracts,have_filings,have_pdfs,name,ntee_code,raw_ntee_code,score,state,strein,sub_name,subseccd
0,HURLBURT FLD,562342625,True,False,True,True,1 SOSFS DEFENDERS ASSOCIATION,None,None,4.283534,FL,56-2342625,1 SOSFS DEFENDERS ASSOCIATION,3
1,PENSACOLA,593068740,True,False,True,True,100 BLACK MEN OF PENSACOLA INC,S82Z,S82Z,4.283534,FL,59-3068740,100 BLACK MEN OF PENSACOLA INC,3
2,DEERFIELD BCH,591756721,True,True,True,True,100 CLUB OF SOUTH PALM BEACH COUNTY INC,None,None,4.283534,FL,59-1756721,100 CLUB OF SOUTH PALM BEACH COUNTY INC,3
3,PONTE VEDRA,261211203,True,True,True,True,100 TIMES FOUNDATION CORPORATION,T20,T20,4.283534,FL,26-1211203,100 TIMES FOUNDATION CORPORATION,3
4,FORT LAUDERDALE,800364095,True,True,True,True,1000 PLUS CLUB TO BENEFIT CANCER INC,G113,G113,4.283534,FL,80-0364095,1000 PLUS CLUB TO BENEFIT CANCER INC,3
5,WILTON MANORS,455195419,True,True,True,True,100PLUSANIMALRESCUE INC,D20,D20,4.283534,FL,45-5195419,100PLUSANIMALRESCUE INC,3
6,JACKSONVILLE,592888577,True,False,True,True,12 WHO CARE COMMUNITY SERVICE AWARDS INC,None,None,4.283534,FL,59-2888577,12 WHO CARE COMMUNITY SERVICE AWARDS INC,3
7,ORLANDO,311656521,True,True,True,True,1420 FOUNDATION FOR SUSTAINABLE DEVELOPMENT ED...,B11,B11,4.283534,FL,31-1656521,1420 FOUNDATION FOR SUSTAINABLE DEVELOPMENT ED...,3
8,WINTER HAVEN,270206132,True,True,True,True,1ST VETERANS KIDS CARE INC,P20,P20,4.283534,FL,27-0206132,1ST VETERANS KIDS CARE INC,3
9,SARASOTA,200262358,True,True,True,True,2-1-1 SUNCOAST INC,P20,P20,4.283534,FL,20-0262358,2-1-1 SUNCOAST INC,3
10,FT MYERS,201609130,True,False,True,True,2020 INNERVISION INC,O50,O50,4.283534,FL,20-1609130,2020 INNERVISION INC,3
11,LANTANA,237153017,True,True,True,True,211 PALM BEACH TREASURE COAST INC,F400,F400,4.283534,FL,23-7153017,211 PALM BEACH TREASURE COAST INC,3
12,BRADENTON,471557521,True,True,True,True,21ST CENTURY CHURCH CORPORATION,X21,X21,4.283534,FL,47-1557521,21ST CENTURY CHURCH CORPORATION,3
13,WEST PALM BCH,861168310,True,True,True,True,2701 AUSTRALIAN LC,T19,T19,4.283534,FL,86-1168310,2701 AUSTRALIAN LC,3
14,JACKSONVILLE,731715604,True,True,True,True,2ND MILE MINISTRIES,P80,P80,4.283534,FL,73-1715604,2ND MILE MINISTRIES,3
15,CORAL GABLES,450645135,True,True,True,True,3 SONS FOUNDATION INC,T20,T20,4.283534,FL,45-0645135,3 SONS FOUNDATION INC,3
16,FORT PIERCE,813913609,True,False,True,True,3 TECH WRESTLING INC,B12,B12,4.283534,FL,81-3913609,3 TECH WRESTLING INC,3
17,OCALA,463301955,True,True,True,True,352 ELITE INC,None,None,4.283534,FL,46-3301955,352 ELITE INC,3
18,LAKELAND,810900570,True,True,True,True,360 WILLIE HORTON & GREATER LAKELAND-CENTRAL F...,P40,P40,4.283534,FL,81-0900570,360 WILLIE HORTON & GREATER LAKELAND-CENTRAL F...,3
19,ORLANDO,237341744,True,False,True,True,3799 CITRUS CENTER AREA LOCAL,None,None,4.283534,FL,23-7341744,3799 CITRUS CENTER AREA LOCAL,5
20,MINNEOLA,454461415,True,True,True,True,3D MISSIONS INC,X20,X20,4.283534,FL,45-4461415,3D MISSIONS INC,3
21,FORT LAUDERDALE,261783911,True,True,True,True,3RD STEP RECOVERY TREATMENT GROUP INC,F32,F32,4.283534,FL,26-1783911,3RD STEP RECOVERY TREATMENT GROUP INC,3
22,LARGO,260491538,True,False,True,True,4 KIDS CHARITY INC,E50,E50,4.283534,FL,26-0491538,4 KIDS CHARITY INC,3
23,APOPKA,593674919,True,False,True,True,4 OUR COOKIE INC,S80,S80,4.283534,FL,59-3674919,4 OUR COOKIE INC,3
24,PALM HARBOR,454416484,True,True,True,True,4 POINT 0 CHARITY CORP,L81,L81,4.283534,FL,45-4416484,4 POINT 0 CHARITY CORP,3
25,ORLANDO,760715376,True,True,True,True,4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS,O52,O52,4.283534,FL,76-0715376,4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS,3
26,ORLANDO,626092263,True,True,True,True,4035P ANDREW B SCHNEIDER TRUST B,None,None,4.283534,FL,62-6092263,4035P ANDREW B SCHNEIDER TRUST B,92
27,ORLANDO,626092352,True,False,True,True,4171 P ORA SMITHSON TRUST,None,None,4.283534,FL,62-6092352,4171 P ORA SMITHSON TRUST,92
28,FT LAUDERDALE,611416525,True,False,True,True,4KIDS OF SOUTH FLORIDA INC,P30,P30,4.283534,FL,61-1416525,4KIDS OF SOUTH FLORIDA INC,3
29,LITHIA,453446373,True,True,True,True,50 LEGS IN 50 DAYS INC,E19,E19,4.283534,FL,45-3446373,50 LEGS IN 50 DAYS INC,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,MIAMI,800521263,True,True,True,True,YOUTH OF EXCELLENCE FOUNDATION INC,O12,O12,4.271313,FL,80-0521263,YOUTH OF EXCELLENCE FOUNDATION INC,3
12,WESLEY CHAPEL,593369126,True,True,True,True,YOUTH ON THE MOVE USA INC,X99,X99,4.271313,FL,59-3369126,YOUTH ON THE MOVE USA INC,3
13,HOLLYWOOD,650390393,True,True,True,True,YOUTH SPORTS OF HOLLYWOOD INC,N63Z,N63Z,4.271313,FL,65-0390393,YOUTH SPORTS OF HOLLYWOOD INC,3
14,NICEVILLE,201319298,True,True,True,True,YOUTH VILLAGE INC,O50,O50,4.271313,FL,20-1319298,YOUTH VILLAGE INC,3
15,PEMBROKE PNES,900998899,True,False,True,True,YOUTHCHAMPIONS ORG INC,O50,O50,4.271313,FL,90-0998899,YOUTHCHAMPIONS ORG INC,3
16,MIAMI GARDENS,650022504,True,False,True,True,YOUTHS PROGRESSING IN PUBLIC HOUSING INC,I21Z,I21Z,4.271313,FL,65-0022504,YOUTHS PROGRESSING IN PUBLIC HOUSING INC,3
17,DAVIE,650866697,True,True,True,True,YOVEL INC,B99,B99,4.271313,FL,65-0866697,YOVEL INC,3
18,SARASOTA,472622296,True,True,True,True,YPO FLORIDA SUN COAST GOLD CHAPTER INC,S40,S40,4.271313,FL,47-2622296,YPO FLORIDA SUN COAST GOLD CHAPTER INC,6
19,MIAMI,462727574,True,True,True,True,ZACK FAMILY FOUNDATION INC,T22,T22,4.271313,FL,46-2727574,ZACK FAMILY FOUNDATION INC,3
20,NAPLES,43298945,True,True,True,True,ZAMMITO CHARITABLE FOUNDATION,T20J,T20J,4.271313,FL,04-3298945,ZAMMITO CHARITABLE FOUNDATION,3
21,MIAMI,271419601,True,True,True,True,ZAMORA TERAN FOUNDATION INC,B90,B90,4.271313,FL,27-1419601,ZAMORA TERAN FOUNDATION INC,3
22,VERO BEACH,452582293,True,True,True,True,ZEITGEIST FOUNDATION INC,T22,T22,4.271313,FL,45-2582293,ZEITGEIST FOUNDATION INC,3
23,MAITLAND,205774930,True,True,True,True,ZEPHYR HAVEN HEALTH & REHAB CENTERINC,None,None,4.271313,FL,20-5774930,ZEPHYR HAVEN HEALTH & REHAB CENTERINC,3
24,ZEPHYRHILLS,591998960,True,False,True,True,ZEPHYRHILLS CHAPT NO 1682 WOMEN OF THE MOOSE,None,None,4.271313,FL,59-1998960,ZEPHYRHILLS CHAPT NO 1682 WOMEN OF THE MOOSE,8
25,ZEPHYRHILLS,650034004,True,False,True,True,ZEPHYRHILLS VOLUNTEER FIRE RESCUE SQUAD INC,M24Z,M24Z,4.271313,FL,65-0034004,ZEPHYRHILLS VOLUNTEER FIRE RESCUE SQUAD INC,3
26,ORLANDO,202436935,True,True,True,True,ZETA BETA TAU FRATERNITY,None,None,4.271313,FL,20-2436935,ZETA BETA TAU FRATERNITY,7
27,PLANTATION,650685991,True,False,True,True,ZETA D O V E FOUNDATION INC,P20,P20,4.271313,FL,65-0685991,ZETA D O V E FOUNDATION INC,3
28,TALLAHASSEE,593384732,True,True,True,True,ZETA EDUCATIONAL THESIBIAN ASSN,B82,B82,4.271313,FL,59-3384732,ZETA EDUCATIONAL THESIBIAN ASSN,3
29,FT LAUDERDALE,596178343,True,False,True,True,ZETA PHI BETA SORORITY INC,None,None,4.271313,FL,59-6178343,ZETA PHI BETA SORORITY INC,7
30,MAITLAND,593747132,True,False,True,True,ZIBA FOUNDATION INC,F32,F32,4.271313,FL,59-3747132,ZIBA FOUNDATION INC,3
31,JACKSONVILLE,593503647,True,True,True,True,ZIMMERMAN FAMILY FOUNDATION INC,T90Z,T90Z,4.271313,FL,59-3503647,ZIMMERMAN FAMILY FOUNDATION INC,3
32,BOCA RATON,621058309,True,True,True,True,ZIMMERMAN FOUNDATION,None,None,4.271313,FL,62-1058309,ZIMMERMAN FOUNDATION,3
33,ORLANDO,201287010,True,True,True,True,ZINDAGI TRUST INC,Q30,Q30,4.271313,FL,20-1287010,ZINDAGI TRUST INC,3
34,CORAL SPRINGS,262430036,True,True,True,True,ZION CREATIVE ARTS,A25,A25,4.271313,FL,26-2430036,ZION CREATIVE ARTS,3
35,FT LAUDERDALE,800228554,True,True,True,True,ZMOTION RACING FOUNDATION INC,T12,T12,4.271313,FL,80-0228554,ZMOTION RACING FOUNDATION INC,3
36,MIAMI,432047897,True,True,True,True,ZOE MINISTRY,X20,X20,4.271313,FL,43-2047897,ZOE MINISTRY,3
37,JACKSONVILLE,592103287,True,True,True,True,ZOE UNIVERSITY INCORPORATED,None,None,4.271313,FL,59-2103287,ZOE UNIVERSITY INCORPORATED,3
38,DORAL,261511170,True,True,True,True,ZOE-ROS FOUNDATION CORP,P60,P60,4.271313,FL,26-1511170,ZOE-ROS FOUNDATION CORP,3
39,CORAL SPRINGS,841649575,True,True,True,True,ZONTA CLUB OF BOCA RATON FOUNDATION INC,T12,T12,4.271313,FL,84-1649575,ZONTA CLUB OF BOCA RATON FOUNDATION INC,3
40,MIAMI,522302989,True,True,True,True,ZOS FUND FOR LIFE INC,H12,H12,4.271313,FL,52-2302989,ZOS FUND FOR LIFE INC,3

In [17]:
# Send the dataframe to a json file for posterity
#df.to_json('data/florida_nonprofs.json', orient='records')
#You need to tell pandas what to use as an key value for orienting the JSON file. 
# If you do reset_index().to_json('filepath', orient='index')
# The JSON file will have flipped the columns and rows

S/O to Mike Stucka (@MikeStucka) for helping me figure out how to properly parse ProPublica's Nonprofit API

Helpful stackoverflow thread: https://stackoverflow.com/questions/19214588/how-can-i-efficiently-move-from-a-pandas-dataframe-to-json

In [4]:
# Create a dataframe from your saved copy of the scrape
df1 = pd.read_json('data/florida_nonprofs.json')

In [5]:
df1.head()
#Make sure the dataframe maintained shape.

,city,ein,has_subseccd,have_extracts,have_filings,have_pdfs,name,ntee_code,raw_ntee_code,score,state,strein,sub_name,subseccd
0,HURLBURT FLD,562342625,True,False,True,True,1 SOSFS DEFENDERS ASSOCIATION,None,None,4.283534,FL,56-2342625,1 SOSFS DEFENDERS ASSOCIATION,3
1,PENSACOLA,593068740,True,False,True,True,100 BLACK MEN OF PENSACOLA INC,S82Z,S82Z,4.283534,FL,59-3068740,100 BLACK MEN OF PENSACOLA INC,3
2,DEERFIELD BCH,591756721,True,True,True,True,100 CLUB OF SOUTH PALM BEACH COUNTY INC,None,None,4.283534,FL,59-1756721,100 CLUB OF SOUTH PALM BEACH COUNTY INC,3
3,PONTE VEDRA,261211203,True,True,True,True,100 TIMES FOUNDATION CORPORATION,T20,T20,4.283534,FL,26-1211203,100 TIMES FOUNDATION CORPORATION,3
4,FORT LAUDERDALE,800364095,True,True,True,True,1000 PLUS CLUB TO BENEFIT CANCER INC,G113,G113,4.283534,FL,80-0364095,1000 PLUS CLUB TO BENEFIT CANCER INC,3

In [30]:
# locations = [x.upper() for x in locations]
# filter out non local nonprofits, upper case all city names
# localdf = df1[df1['city'].isin(locations)]

In [33]:
#Show the new dataframe, reset its index
# localdf.reset_index().head()

,index,city,ein,has_subseccd,have_extracts,have_filings,have_pdfs,name,ntee_code,raw_ntee_code,score,state,strein,sub_name,subseccd
0,265,THE VILLAGES,300096938,True,False,True,True,AMERICAN BRUSSELS GRIFFON ASSOCIATION,D60,D60,4.283534,FL,30-0096938,AMERICAN BRUSSELS GRIFFON ASSOCIATION,7
1,646,WILDWOOD,50579861,True,False,True,True,BARAK ENTERPRISES INC,X20,X20,4.283534,FL,05-0579861,BARAK ENTERPRISES INC,3
2,649,THE VILLAGES,382964580,True,True,True,True,BARBER FOUNDATION,None,None,4.283534,FL,38-2964580,BARBER FOUNDATION,3
3,826,THE VILLAGES,341910573,True,True,True,True,BLAIR FAMILY FOUNDATION,T20,T20,4.283534,FL,34-1910573,BLAIR FAMILY FOUNDATION,3
4,1124,LEESBURG,592808772,True,True,True,True,CARE DIVERSIFIED OF LAKE COUNTY INC,None,None,4.283534,FL,59-2808772,CARE DIVERSIFIED OF LAKE COUNTY INC,3

In [36]:
#Write the new dataframe to a local json file
# localdf.to_json('data/local_nonprofits.json', orient='records')

In [38]:
#Write the local dataframe to a local csv file for reporters
# localdf.to_csv('data/local_nonprofits.csv', sep=',')

In [6]:
localdf = pd.read_json('data/local_nonprofits.json')

In [7]:
localdf.head()

,city,ein,has_subseccd,have_extracts,have_filings,have_pdfs,name,ntee_code,raw_ntee_code,score,state,strein,sub_name,subseccd
0,THE VILLAGES,300096938,True,False,True,True,AMERICAN BRUSSELS GRIFFON ASSOCIATION,D60,D60,4.283534,FL,30-0096938,AMERICAN BRUSSELS GRIFFON ASSOCIATION,7
1,WILDWOOD,50579861,True,False,True,True,BARAK ENTERPRISES INC,X20,X20,4.283534,FL,05-0579861,BARAK ENTERPRISES INC,3
2,THE VILLAGES,382964580,True,True,True,True,BARBER FOUNDATION,None,None,4.283534,FL,38-2964580,BARBER FOUNDATION,3
3,THE VILLAGES,341910573,True,True,True,True,BLAIR FAMILY FOUNDATION,T20,T20,4.283534,FL,34-1910573,BLAIR FAMILY FOUNDATION,3
4,LEESBURG,592808772,True,True,True,True,CARE DIVERSIFIED OF LAKE COUNTY INC,None,None,4.283534,FL,59-2808772,CARE DIVERSIFIED OF LAKE COUNTY INC,3

In [8]:
#let's pull all of the EIN numbers so we can pull detailed records on our local nonprofits.
#Stackoverflow guidance: https://stackoverflow.com/questions/22341271/get-list-from-pandas-dataframe-column
einlist = localdf['ein'].tolist()

In [9]:
# Check to make sure we have a list
pp(einlist)

[300096938,
 50579861,
 382964580,
 341910573,
 592808772,
 592790823,
 593455505,
 592520097,
 275370261,
 592442549,
 596139800,
 800072799,
 320315315,
 650363634,
 592975723,
 760704071,
 272517148,
 593648363,
 592844668,
 61357703,
 680663759,
 436938878,
 590330175,
 134315485,
 592319673,
 161454827,
 472283160,
 472722928,
 596152302,
 591786646,
 202438907,
 562379882,
 593085768,
 591930274,
 464440493,
 464232908,
 593054643,
 593733183,
 455560376,
 263731546,
 510567649,
 593656796,
 593474454,
 205972206,
 592944839,
 270656070,
 236279703,
 204742893,
 10574719,
 462859665,
 453185222,
 311216257,
 592764174,
 364625733,
 462442032,
 591652673,
 61331583,
 592187338,
 592096407,
 592100791,
 591813434,
 593466574,
 591934800,
 592181152,
 590878982,
 203588786,
 271069304,
 800185498,
 593270444,
 464044482,
 870738252,
 596579131,
 592878329,
 462353037,
 383019445,
 651180390,
 593697805,
 461336140,
 200301785,
 460712125,
 593750165,
 900223420,
 942699567,
 593567315,
 261419962,
 800184907,
 314418727,
 593677650,
 271227921,
 593336621,
 461402528,
 222874274,
 593280794,
 331197054,
 593272397,
 592029348,
 452636866,
 593651233,
 593037695,
 203176937,
 592229619,
 451060685,
 262678546,
 591481485,
 593414881,
 800427758,
 475554259,
 30423152,
 261244385,
 264194173,
 593041134,
 591990323,
 590652249,
 592435968,
 300475804,
 590604702,
 591800743,
 592976392,
 474170886,
 203288751,
 432091292,
 680558944,
 223936034,
 464691134,
 201010193,
 753240556,
 474354500,
 593738721,
 550818419,
 453631367,
 597163598,
 223710868,
 320312372,
 510182681,
 592863768,
 113787972,
 421711243,
 521843193,
 592961536,
 591524504,
 204450548,
 161734362,
 465029263,
 455187087,
 593585112,
 593434399,
 592962440,
 582187204,
 593666873,
 237150336,
 463156998,
 593452137,
 363443743,
 593688480,
 471714999,
 331201719,
 331143745,
 592825965,
 766099805,
 432094895,
 237379633,
 592946603,
 592411947,
 592764834,
 591830071,
 592376754,
 590995127,
 593255632,
 591561501,
 593061368,
 593760757,
 743198778,
 261137037,
 203848487,
 591987269,
 141866385,
 526050012,
 593155983,
 592716563,
 743158328,
 592832446,
 593761154,
 550797401,
 593606336,
 743235722,
 454815598,
 522067550,
 237344376,
 591143758,
 205542978,
 471817320,
 593527036,
 141851595,
 593038379,
 320322136,
 453339591,
 541688752,
 593332046,
 510637002,
 592286019,
 521162229,
 593603031,
 300530801,
 261895339,
 275411277,
 593433964,
 592397568,
 550813855,
 596211869,
 900915196,
 270982239,
 208446297,
 593523563,
 461486059,
 593713450,
 592958036,
 592196112,
 591258427,
 271324242,
 208619685,
 522401964,
 800335556,
 591667940,
 592427182,
 592520099,
 66502822,
 392070096,
 582342604,
 593294309,
 592697223,
 591800444,
 382826814,
 331147644,
 593546419,
 61227113,
 411697703,
 460788872,
 364089894,
 462784776,
 571214912,
 275062397,
 272979804,
 760536573,
 593738852,
 200307063,
 593173464]

In [15]:
# Add .json to the end of each list item and convert to string
einlist = list(map(str, einlist))

In [20]:
einlist = [j + '.json' for j in einlist]
#https://stackoverflow.com/questions/2050637/appending-the-same-string-to-a-list-of-strings-in-python

In [19]:
pp(einlist)

['300096938.json',
 '50579861.json',
 '382964580.json',
 '341910573.json',
 '592808772.json',
 '592790823.json',
 '593455505.json',
 '592520097.json',
 '275370261.json',
 '592442549.json',
 '596139800.json',
 '800072799.json',
 '320315315.json',
 '650363634.json',
 '592975723.json',
 '760704071.json',
 '272517148.json',
 '593648363.json',
 '592844668.json',
 '61357703.json',
 '680663759.json',
 '436938878.json',
 '590330175.json',
 '134315485.json',
 '592319673.json',
 '161454827.json',
 '472283160.json',
 '472722928.json',
 '596152302.json',
 '591786646.json',
 '202438907.json',
 '562379882.json',
 '593085768.json',
 '591930274.json',
 '464440493.json',
 '464232908.json',
 '593054643.json',
 '593733183.json',
 '455560376.json',
 '263731546.json',
 '510567649.json',
 '593656796.json',
 '593474454.json',
 '205972206.json',
 '592944839.json',
 '270656070.json',
 '236279703.json',
 '204742893.json',
 '10574719.json',
 '462859665.json',
 '453185222.json',
 '311216257.json',
 '592764174.json',
 '364625733.json',
 '462442032.json',
 '591652673.json',
 '61331583.json',
 '592187338.json',
 '592096407.json',
 '592100791.json',
 '591813434.json',
 '593466574.json',
 '591934800.json',
 '592181152.json',
 '590878982.json',
 '203588786.json',
 '271069304.json',
 '800185498.json',
 '593270444.json',
 '464044482.json',
 '870738252.json',
 '596579131.json',
 '592878329.json',
 '462353037.json',
 '383019445.json',
 '651180390.json',
 '593697805.json',
 '461336140.json',
 '200301785.json',
 '460712125.json',
 '593750165.json',
 '900223420.json',
 '942699567.json',
 '593567315.json',
 '261419962.json',
 '800184907.json',
 '314418727.json',
 '593677650.json',
 '271227921.json',
 '593336621.json',
 '461402528.json',
 '222874274.json',
 '593280794.json',
 '331197054.json',
 '593272397.json',
 '592029348.json',
 '452636866.json',
 '593651233.json',
 '593037695.json',
 '203176937.json',
 '592229619.json',
 '451060685.json',
 '262678546.json',
 '591481485.json',
 '593414881.json',
 '800427758.json',
 '475554259.json',
 '30423152.json',
 '261244385.json',
 '264194173.json',
 '593041134.json',
 '591990323.json',
 '590652249.json',
 '592435968.json',
 '300475804.json',
 '590604702.json',
 '591800743.json',
 '592976392.json',
 '474170886.json',
 '203288751.json',
 '432091292.json',
 '680558944.json',
 '223936034.json',
 '464691134.json',
 '201010193.json',
 '753240556.json',
 '474354500.json',
 '593738721.json',
 '550818419.json',
 '453631367.json',
 '597163598.json',
 '223710868.json',
 '320312372.json',
 '510182681.json',
 '592863768.json',
 '113787972.json',
 '421711243.json',
 '521843193.json',
 '592961536.json',
 '591524504.json',
 '204450548.json',
 '161734362.json',
 '465029263.json',
 '455187087.json',
 '593585112.json',
 '593434399.json',
 '592962440.json',
 '582187204.json',
 '593666873.json',
 '237150336.json',
 '463156998.json',
 '593452137.json',
 '363443743.json',
 '593688480.json',
 '471714999.json',
 '331201719.json',
 '331143745.json',
 '592825965.json',
 '766099805.json',
 '432094895.json',
 '237379633.json',
 '592946603.json',
 '592411947.json',
 '592764834.json',
 '591830071.json',
 '592376754.json',
 '590995127.json',
 '593255632.json',
 '591561501.json',
 '593061368.json',
 '593760757.json',
 '743198778.json',
 '261137037.json',
 '203848487.json',
 '591987269.json',
 '141866385.json',
 '526050012.json',
 '593155983.json',
 '592716563.json',
 '743158328.json',
 '592832446.json',
 '593761154.json',
 '550797401.json',
 '593606336.json',
 '743235722.json',
 '454815598.json',
 '522067550.json',
 '237344376.json',
 '591143758.json',
 '205542978.json',
 '471817320.json',
 '593527036.json',
 '141851595.json',
 '593038379.json',
 '320322136.json',
 '453339591.json',
 '541688752.json',
 '593332046.json',
 '510637002.json',
 '592286019.json',
 '521162229.json',
 '593603031.json',
 '300530801.json',
 '261895339.json',
 '275411277.json',
 '593433964.json',
 '592397568.json',
 '550813855.json',
 '596211869.json',
 '900915196.json',
 '270982239.json',
 '208446297.json',
 '593523563.json',
 '461486059.json',
 '593713450.json',
 '592958036.json',
 '592196112.json',
 '591258427.json',
 '271324242.json',
 '208619685.json',
 '522401964.json',
 '800335556.json',
 '591667940.json',
 '592427182.json',
 '592520099.json',
 '66502822.json',
 '392070096.json',
 '582342604.json',
 '593294309.json',
 '592697223.json',
 '591800444.json',
 '382826814.json',
 '331147644.json',
 '593546419.json',
 '61227113.json',
 '411697703.json',
 '460788872.json',
 '364089894.json',
 '462784776.json',
 '571214912.json',
 '275062397.json',
 '272979804.json',
 '760536573.json',
 '593738852.json',
 '200307063.json',
 '593173464.json']

In [21]:
# With our EIN list in hand, let's reuse the code from the beginning to iterate through the API
# Uncomment this code to use it
#Key url: https://projects.propublica.org/nonprofits/api/v2/organizations/ +einlist
baseurl2 = "https://projects.propublica.org/nonprofits/api/v2/organizations/"
r2 = requests.get(baseurl2)
rawdata2 = r2.json()
orgdf = pd.DataFrame()
for e in einlist:
    print("Fetching")
    r2 = requests.get(baseurl2 + e)
    rawdata2 = r2.json()
    dfnew = pd.DataFrame(rawdata2)
    orgdf = orgdf.append(dfnew)
    time.sleep(2)
orgdf.shape

JSONDecodeError: Expecting value: line 1 column 1 (char 0)